@import '../../../node_modules/video-react/dist/video-react.css';
.homeContainer {
  display: flex;
}
@media only screen and (max-width: 600px) {
  .homeContainer-mobile {
    /* display: grid; */
  }
  .feed {
    max-width: 405px;
    margin-top: 10px;
  }
  .sidebar {
    height: auto;
  }
  .sidebarFriendList {
    display: none;
  }
  .sidebarWrapper {
    display: none;
  }
  .topbarCenter {
    flex: 12;
  }
  .topbarLeft {
    flex: 6;
  }
  .shareWrapper {
    padding: 2px;
  }
  .img-imgs-container-home-mobile-1 {
    margin-right: 35px !important;
  }
  .img-imgs-container-home-mobile-2 {
    margin-right: 75px !important;
}
}
.main-image {
  width: 100%;
}
.searchbar-container {
  background-color: #dcecf4;
  display: flex;
  justify-content: center;
  height: 10vh;
  align-items: center;
}
.search-container {
  display: flex;
  flex-direction: column;
}
.searchbar-2 {
  background: #fff;
  width: 25%;
  display: flex;
  text-align: center;
  border: 0;
  height: 50px;
  justify-content: center;
}
.searchIcon {
   
}
.img-350 {
  height: 350px;
  width: 350px;
}
.text-container-home {
  width: 35%;
  font-size: 35px;
  font-weight: 400;
  color: #6097bf;
  margin-top: 50px;
}
.top-image {
  padding-right: 13%;
}
.top-image-container {
  color: #6097bf;
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  direction: rtl;
  flex-direction: column;
}
.bottom-image-container {
  padding-right: 13%;
  height: 250px;
  background-position: center;
  direction: rtl;
  padding-bottom: 2rem;
  background-color: #6097bf;
  display: flex;
}
.left-img {
  margin: 1rem;
}
.popups-container {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 45px;
}
.img-300 {
  width: 18vw;
  height: 18vw;
  background-size: cover;
  background-position: center;
  display: flex;
  border-radius: 15px;
  transition: ease-in-out;
  transition-duration: 500ms;
  margin: auto;
}
.read-more-home {
  width: 100%;
  color: #fff;
  font-weight: 900;
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: center;
  flex-direction: column;
}
.img-300:hover {
  background: #6097bf !important;
}
.img-300-text {
  font-size: 2vw;
  display: none;
  color: #fff;
  width: 80%;
  margin: auto;
  text-align: center;
}
.img-300:hover .img-300-text {
  display: block;
}
.img-300:hover .read-more-home {
  display: none;
}
.imgs-container {
  display: flex;
  justify-content: space-evenly;
  color: #6097bf;
  margin-top: 6rem;
  margin-bottom: 2rem;
  text-align: center;
}
.flex-wrap>div {
display: flex;
flex-wrap: wrap;
}
.modal {
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  color: #6097bf;
  width: 50vw;
}
.modal > .header {
  width: 98.5%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  font-size: 15px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .actions > .button {
  font-size: 12px;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  color: #6097bf;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.mb-3 {
  margin-bottom: 3rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.video-react-button {
  display: none !important;
}
.video-react .video-react-video {
  border-radius: 15px;
}
.player-wrapper {
  position: relative;
}
.thirteen {
  background-image: url('../../assets/Rectangle13.png');
}
.fourteen {
  background-image: url('../../assets/Rectangle14.png');
  
}
.fifteen {
  background-image: url('../../assets/Rectangle15.png');
}
.sixteen {
  background-image: url('../../assets/Rectangle16.png');
}
.seventeen {
  background-image: url('../../assets/Rectangle17.png');
}
.twelve {
  background-image: url('../../assets/Rectangle12.png');
}

.vid-text-container {
  margin-top: 75px;
}
.vid-text-title {
  text-align: center;
  color: #6097bf;
  font-size: 25px;
  letter-spacing: 1px;
}

.video-react-poster {
  border-radius: 20px;
}
.react-player {
  border-radius: 20px;
  margin-right: 10%;
  padding-top: 22.5% !important;
  width: 40% !important;
  max-width: 40% !important;
  margin-top: -175px;
}
.video-react-poster {
  background-size: cover !important;
}
.slick-slider {
  width: 75%;
  font-size: 35px;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #abc9db !important;
}
.slick-dots li button:before {
  padding-top: 25px;
  font-size: 15px;
  opacity: 1;
  color: #fff;
}
.slick-next {
  right: 20px; 
  z-index: 10;
}
.slick-next::before {
  font-size: 40px;
  line-height: 1;
  color: #dcecf4;
}
.slick-prev {
  left: 0;
  z-index: 10;
}
.slick-prev::before {
  font-size: 40px;
  line-height: 1;
  color: #dcecf4;
}
.pilKahol {
  font-family: 'pilkahol' !important;
}
.testimonials {
  font-family: 'pilkahol';
  text-align: center;
  color: #6097bf;
  display: flex;
  text-align: center;
  color: #6097bf;
  height: 470px;
  justify-content: center;
  width: 99vw;
  align-items: center;
  font-size: 21px;
}
.example-profile {
  display: flex;
  background: #dcecf4;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 75px;
}
.slick-list {
  border-radius: 15px !important;
}
.example-profile-image {
  text-align: center;
  display: flex;
  border-radius: 15px;
  width: 1033px;
  height: 750px;
  background-size: contain;
  margin: auto;
  overflow: hidden;
  justify-content: center;
}
.profile-div {
  direction: rtl;
  font-weight: 600;
  background: #abc9db;
  height: 10vh;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  transition-duration: 300ms;
}
.profile-div:hover {
  opacity: 0.8;
}
.creation-btn {
  text-decoration: none;
  font-size: 25px;
}

.home-profile-creation-btn {
  height: 50px;
  width: 322px;
  background: #abc9db;
  margin: auto;
  margin-top: 23px;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 500ms !important;
  transition: ease-in-out;
}
.home-profile-creation-btn:hover {
  background-color: #fff;
  color: #6097bf;
}
.home-floating-text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 53%;
  font-size: 29px;
  color: #6097bf;
  letter-spacing: 1.3px;
}
@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  } 
  .imgs-container-middle {
    display: flex;
    justify-content: space-around;
    color: #6097bf;
    margin-top: 6rem;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 3rem;    
  }
  /* .mobile {
    display: block;
  } */
  /* .searchbar-container-home-mobile{
    width: 50%;
    height: 50px;
    border-radius: 15px;
    display: flex;
    /* align-items: center; */
    /* margin: 20px 0;
    background-color: #FFF;
  } */ 

.search-container-home-mobile {
    display: flex;
    justify-content: center;
    background-color: #DCECF4;
    padding-top: 15px;
    padding-bottom: 15px;
  }
.searchbar-searchIcon-container-home-mobile {
/* display: flex; */
align-items: center;
border-radius: 10px;
background-color: #ffffff;
}
.SearchInput-home-mobile {
  margin-left: 70px;
  margin-bottom: 15px;
  direction: rtl;
  color: #6097BF;
  font-size: 25px;
  font-weight: 900;
  /* height: 95%; */
  border: 0;
}
 .searchIcon {
   
 }
 .home-mobile-heading-strong {
   font-weight: 900;
   text-shadow: 
   -1px 0 #6097BF, 0 1px #6097BF, 1px 0 #6097BF, 0 -1px #6097BF, 
   -1px -1px #6097BF, 1px 1px #6097BF, -1px 1px #6097BF, 1px -1px #6097BF;
   direction: rtl;
 }
 .home-mobile-heading {
   font-size: 22px;
   direction: rtl;
   margin: 15px 0;
   font-weight: 900;
 }
 .homeMobile-moments-legacy-community {
  color: #ABC9DB;
   font-size: 20px;
  margin: 15px 0;
    
 }
 .home-mobile-video {
  width: 50%;
  height: 50%;
 }
 .top-image-container {
   margin: 2rem;
   margin-top: 10px;
   
   
 }
 .top-image {
   padding: 0;
   display: flex;
   flex-direction: column;
   text-align: center;
  
 }
 .text-container-home{
   direction: rtl;
   width: 100%;
   margin-top: 20px;
   font-weight: 900;
 }
 .bottom-image-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 60px;
 }
 .text-container-home-bottom{
   direction: rtl;
   margin-top: 20px;
   font-weight: 600;
   color: #ffff;
   font-size: 35px;
 }
 .home-mobile-text-emphasis {
   font-weight: 900;
   text-shadow: 
   -0.25px 0 #6097bf, 0 0.25px #6097bf, 0.25px 0 #6097bf, 0 -0.25px #6097bf, 
   -0.25px -0.25px #6097bf, 0.25px 0.25px #6097bf, -0.25px 0.25px #6097bf, 0.25px -0.25px #6097bf;
  
 }
 .popups-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
 }
 .life-cloud-explaination-container-home{
  width: 35%;
  font-size: 50px !important;
  color: #6097bf;
  margin-top: 50px;
  direction: rtl;
  width: 100%;
  margin-top: 20px;
  font-weight: lighter;
 }
 .imgs-container {
   margin-top: 3rem;
 }
 .img-imgs-container-home-mobile-1 {
  margin-right: 25px;
}
 .img-imgs-container-home-mobile-2 {
   margin-right: 80px;
 }
 .img-imgs-container-home-mobile-3 {
   margin-right: 70px;
 }
 .img-imgs-container-home-mobile-4 {
   margin-right: 70px;
 }
 .seperation-div-home-mobile-try1 {
   width: 100%;
   height: 1vh;
   display: block;
   margin-bottom: 50px;
 }
 .testimonials {
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
 }
.topbarLeft {
  padding-left: 0 !important;
}
.slick-slider {
  width: 75%;
  font-size: 35px;  
}
.h1-home-mobile {
  margin-top: 2rem;
  font-size: 30px;
}

}


@media screen and (max-width: 352px) {
  .searchbar-searchIcon-container-home-mobile {
    display: flex;
  }
  .SearchInput-home-mobile {
    margin-bottom: 0;
  }
  .searchIcon {
    padding-left: 0;
    margin-bottom: 10px;
  }
  .home-profile-creation-btn {
    margin-top: 0;
    width: 280px;
  }
  .searchbar-searchIcon-container-home-mobile{
  width: 310px;
  }
  .SearchInput-home-mobile {
    margin-left:40px;
  }
  /* .img-imgs-container-home-mobile-2 {
    margin-right: 40px;
}
.img-imgs-container-home-mobile-1 {
  margin-right: 50px;
} */
}





@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  } 
  .search-container-home-desktop {
    display: flex;
    justify-content: center;
    background-color: #ABC9DB;
 
  }
  .searchbar-container-home-desktop{
    width: 350px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin: 20px 0;
    background-color: #FFF;
    border: 0;
 }
 .searchInput-home-desktop {
  margin-left: 20%;
  direction: rtl;
  color: #6097BF;
  font-size: 25px;
  font-weight: 900;
  height: 95%;
  border: 0 ;
 }
 .searchIcon {
   color: #ABC9DB !important;
 }
 .mb-3 {
   margin-bottom: 1rem;
 }
 .top-image-container-desktop-home {
  color: #6097bf;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  direction: rtl;
  flex-direction: column;
}
.text-home-desktop {
  width: 30%;
  font-size: 35px;
  font-weight: 900;
  color: #6097bf;
  margin-top: 50px;
  margin-bottom: 10px;
}
.text-container-home-desktop {
  color: #ffff;
   font-weight: 900;
    font-size: 43px;
    margin-top: 20px;
    padding-left: 8%;
}
.react-player-home-desktop {
  border-radius: 20px;
  margin-right: 10%;
  padding-top: 22.5% !important;
  width: 40% !important;
  max-width: 40% !important;
  margin-top: -125px;
  margin-left: 20px
  
}
.bottom-image-container-home-desktop {
  padding-right: 13%;
  height: 200px;
  background-position: center;
  direction: rtl;
  padding-bottom: 2rem;
  background-color: #6097bf;
  display: flex;
  margin-top: 20px;
}
.text-container-home-desktop-emphasis {
    font-weight: 900;
  color: #6097bf;
  margin-top: 120px !important;
  width: 100%;
  text-align: center;
  margin: 1rem;
  font-size: 40px;
  text-shadow: 
  -0.25px 0 #6097bf, 0 0.25px #6097bf, 0.25px 0 #6097bf, 0 -0.25px #6097bf, 
  -0.25px -0.25px #6097bf, 0.25px 0.25px #6097bf, -0.25px 0.25px #6097bf, 0.25px -0.25px #6097bf;
}
.h1-home-desktop {
  margin-top: 2rem;
  font-size: 35px;
}
}
.openers-mobile {
  max-width: 40%;
}
 