.fullname-input {
        height: 40px;
        border-radius: 10px;
        border: 1px solid #fff;
        font-size: 18px;
        padding-left: 20px;
        margin: 2px;
        width: 100%;
      
}